<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Party Display</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin Override
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="board">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Board Info
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="player/1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Player 1
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="player/2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Player 2
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="player/3">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Player 3
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="player/4">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Player 4
            </NavLink>
        </div>
    </nav>
</div>

