.player-container {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(2, auto);
    margin: auto;
    padding: 10px;
}

.landed-space {
    grid-row: 1 / span 5;
    grid-column: 1 / span 2;
}

.space- {
    background: var(--mp-space-none);
}

.space-Blue {
    background: var(--mp-space-blue);
}

.space-Red {
    background: var(--mp-space-red);
}

.space-Green {
    background: var(--mp-space-green);
}

.space-Pink {
    background: var(--mp-space-special);
}

.player-name {
    grid-row: 1;
    grid-column: 2;
}

.rank-img {
    grid-row: 1;
    grid-column: 1;
    max-height: 35px;
    max-width: 35px;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.character {
    grid-row: 2;
    grid-column: 1 / span 2;
}

.status {
    grid-row: 2;
    grid-column: 2;
    max-height: 35px;
    max-width: 35px;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.star-count {
    grid-row: 3;
    grid-column: 1;
}

.coin-count {
    grid-row: 3;
    grid-column: 2;
}

.item-box-container {
    grid-row: 4;
    grid-column: 1 / span 2;
    text-align: center;
}

.item-box {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-box li {
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 10px;
}

.item-img {
    max-height: 35px;
    max-width: 35px;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.bonus-stars-container {
    grid-row: 5;
    grid-column: 1 / span 2;
    text-align: center;
}

.bonus-stars {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bonus-stars li {
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 10px;
}

.bonus-star-img {
    max-height: 35px;
    max-width: 35px;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.bonus-star-in-lead {
    font-weight: bold;
    font-size: 15pt;
}